.title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
};
.movieTitle{
    text-align: center;
};
.movieRating{
     text-align: center;
};
.movieSummary{
    text-align: center;
};
.image{
  margin-bottom: 10px;
}
.btn{
    margin-left: 10px;
   font-size: 40px;
}